
# Логи
logs/*
!logs/.gitkeep

# Переменные окружения
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Временные файлы
*.tmp
*.bak
*.swp
*~

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db
